<header id="header">
        <style>
         .pleft{text-align: right;float: right;width: 85%;line-height: 45px;}
        </style>
            <div class="pleft">  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              账户：{:session('name')} 
            </a>&nbsp;&nbsp;<a href="#"> 股权数:{$user_info.quity}&nbsp;&nbsp;奖金币数:{$user_info.gold} &nbsp;&nbsp;锁定股权数:{$lock_quity_count}&nbsp;&nbsp;股权奖金币:{$user_info.quity_gold}</a></div>
            <!-- pulled right: nav area -->
            <div class="pull-right">
            
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" title="显示/隐藏菜单"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="{:U('Login/logout')}"  title="退出"><i class="fa fa-sign-out"></i> </a> </span>
                </div>
                <!-- end logout button -->
                <div id="fullscreen" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0);" onClick="launchFullscreen(document.documentElement);" title="全屏"><i class="fa fa-fullscreen"></i></a> </span>
                </div>
                <!-- end fullscreen button -->
                <ul class="header-dropdown-list hidden-xs">
                   
                </ul>
                <!-- end multiple lang -->
            </div>
            <!-- end pulled right: nav area -->
        </header>