
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>{:C('TITLE')}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">
  <!-- Stylesheets -->
  <link href="__STATIC__/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="__STATIC__/style/font-awesome.css">
  <link href="__STATIC__/style/style.css" rel="stylesheet">
  <link href="__STATIC__/style/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="__STATIC__/js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="__STATIC__/img/favicon/favicon.png">
</head>

<body>

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-lock"></i> Login
              </div>
              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal" action="{:U('Login/checkLogin')}" method="post">
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputEmail">用户名</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Username" name="username">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">密码</label>
                      <div class="col-lg-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                      </div>
                    </div>
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="submit" class="btn btn-danger">登录</button>
                        </div>
                    <br />
                  </form>
                </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- JS -->
<script src="__STATIC__/js/jquery.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>
<script>
  $('form').submit(function(){
    var url = $(this).attr('action');
    var data = $(this).serialize();
    $.ajax({
      url : url,
      data : data,
      type : 'post',
      dataType : 'json',
      success : function(i) {
        if(i.status == 1) {
          window.location.href = i.url;
        } else {
          alert(i.info);
        }
      }
    })
    return false;
  })
</script>
</body>
</html>
