<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <!-- Title and other stuffs -->
    <title>
      {:C('TITLE')}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    />
    <meta name="author" content="" />
  </head>

  <body>
    <include file="Public/style" />
    <include file="Public/header" />
    <!-- Main content starts -->
    <div class="content">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-dropdown">
          <a href="#">
            导航
          </a>
        </div>
        <!-- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub"
        to "li" of main navigation. -->
        <include file="Public/menu" />
      </div>
      <!-- Sidebar ends -->
      <!-- Main bar -->
      <div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
          <h2 class="pull-left">
            <i class="icon-home">
            </i>
            股权购买
          </h2>
          <div class="clearfix">
          </div>
        </div>
        <div class="matter">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="widget">
                  <div class="widget-head">
                    <div class="widget-icons pull-right">
                      <a href="#" class="wminimize">
                        <i class="icon-chevron-up">
                        </i>
                      </a>
                    </div>
                    <div class="clearfix">
                    </div>
                  </div>
                  <div class="widget-content">
                    <div class="padd">
                      <form class="form-horizontal" role="form" action="{:U('insert')}" method="post" onsubmit="return ajaxForm(this)">
                        <h6>
                          股权购买
                        </h6>
                        <hr />
                        <div class="form-group">
                          <label class="col-lg-4 control-label">
                            股权数量
                          </label>
                          <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="股权数量" name="quity_count"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-4 control-label">
                            股权单价
                          </label>
                          <div class="col-lg-8">
                            {$quity_balance}
                          </div>
                        </div>
                        <hr />
                        <div class="form-group">
                          <div class="col-lg-offset-1 col-lg-9">
                            <button type="submit" class="btn btn-primary">
                              提交
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->
    <div class="clearfix">
    </div>
    <!-- Content ends -->
    <include file="Public/footer" />
    <include file="Public/script" />
  </body>
</html>