<div id="sidebar-content">
          <ul id="nav">
            <li class="current">
              <a href="{:U('Index/index')}">
                后台首页
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
               会员管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('Member/index')}">
                    <i class="icon-angle-right">
                    </i>
                    会员列表
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
               财务中心
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('GoldWithdraw/index')}">
                    <i class="icon-angle-right">
                    </i>
                    奖金币提现
                  </a>
                </li>
                <li>
                  <a href="{:U('GoldToQuity/index')}">
                    <i class="icon-angle-right">
                    </i>
                    奖金币转股权
                  </a>
                </li>
                <li>
                  <a href="{:U('GoldTransfer/index')}">
                    <i class="icon-angle-right">
                    </i>
                    金币转账记录
                  </a>
                </li>
                <li>
                  <a href="{:U('RechanrgetLog/index')}">
                    <i class="icon-angle-right">
                    </i>
                    会员账号充值
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
               股权管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('QuityDeal/index')}">
                    <i class="icon-angle-right">
                    </i>
                    股权交易
                  </a>
                </li>
                <li>
                  <a href="{:U('QuityLock/index')}">
                    <i class="icon-angle-right">
                    </i>
                    股权锁定
                  </a>
                </li>
                <li>
                  <a href="{:U('Quity/dividend')}">
                    <i class="icon-angle-right">
                    </i>
                    股权分红
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
               系统管理
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="{:U('System/index')}">
                    <i class="icon-angle-right">
                    </i>
                    系统设置
                  </a>
                </li>
                <li>
                  <a href="{:U('Admin/index')}">
                    <i class="icon-angle-right">
                    </i>
                    管理员管理
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="sidebar-title">
            <span>
              提示
            </span>
          </div>
          <div class="sidebar-widget align-center">
            <div class="btn-group" data-toggle="buttons" id="theme-switcher">
              <label class="btn active">
                <input type="radio" name="theme-switcher" data-theme="bright">
                <i class="icon-sun">
                </i>
                白天
              </label>
              <label class="btn">
                <input type="radio" name="theme-switcher" data-theme="dark">
                <i class="icon-moon">
                </i>
                夜晚
              </label>
            </div>
          </div>
        </div>
        <div id="divider" class="resizeable">
        </div>