<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <!-- Title and other stuffs -->
    <title>
      {:C('TITLE')}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    />
    <meta name="author" content="" />
     <include file="Public/style" />
      <include file="Public/script" />
  </head>

  <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px"> 
<div class="core_main User" id="viewNotice">
	
    <div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：<span>股权交易》股权锁定》锁定股权</span></span>
	
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con">
          <form class="form-horizontal" role="form" action="{:U('insert')}" method="post" onsubmit="return ajaxForm(this)">
        <table class="tablebg">
		            <TR>
              <TD class="tbkey">可锁定数量：</TD>
              <TD class="tbval"> {$quity_count}
              </TD>
            </TR>
            <TR>
              <TD class="tbkey">要锁定股权数量：</td>
              <TD class="tbval">  <input type="text" class="form-control" placeholder="要锁定股权数量" name="quity_count"
                            /></td>
            </TR>
              <TR>
              <TD class="tbkey">当前单价：</td>
              <TD class="tbval">  <input type="text" class="form-control" placeholder="当前单价" name="then_balance" value="{$then_balance}" readonly
                            /></td>
            </TR>
            <TR >
              <TD class="tbkey"> 锁定时间：</td>
              <TD class="tbval">   <select class="form-control" name="unlock_time">
                              <volist name="lock_time" id="lock_time_vo">
                                <option value="{$lock_time_vo}">{$lock_time_vo}个月</option>
                              </volist>
                            </select></td>
            </TR>
            <TR>
              <TD class="tbkey">二级密码：</td>
              <TD class="tbval"> <input type="text" class="form-control" placeholder="二级密码" name="second_password" value=""</td>
            </TR>
              
            
            <TR>		
                <TD colspan="2">
              <button type="submit" class="btn btn-primary">
                              提交
                            </button>
                </td>
            </TR>
        </TABLE> 
      </form>
    </div>
    
</div>
</div>
 <script>
      $('[name=option]').change(function(){
        var val = $(this).val();
        if (val == 3 || val == 4) {
          $('[name=to_member_id]').parents('.form-group').show();
        } else {
          $('[name=to_member_id]').parents('.form-group').hide();
        }
      })
    </script>
</body>
</html>