
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{:C('TITLE')}</title>
        <meta name="description" content="">
        <!-- Basic Styles -->
       <include file="Public/style" />
       <include file="Public/script" />
    </head>
    <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px"> 
<div class="core_main User" id="showNotice">
	<div class="core_title">
    	<span class="core_title_con">当前位置：查看公告</span>
    </div>
    <div class="core_con">
        <table class="tablebg">
        <tr >
            <TH > {$vo.title}</TH>
        </tr>
        <tr >
            <TD  style="text-align:left; word-break:break-all;"> {$vo.content}</TD>
        </tr>
        <tr >
            <td class="backbtn"><INPUT class="button_text" onMouseDown="this.className='button_onmousedown'" onMouseOver="this.className='button_onmouseover'" onMouseOut="this.className='button_onmouseout'" type="button"  id="but" value="返回" name="but" onClick="history.back();"/>	</td>
        </tr>
        </table>
	</div>
    <div class="core_page"></div>
</div>
</div>
</body>
</html>