
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{:C('TITLE')}</title>
        <meta name="description" content="">
        <!-- Basic Styles -->
       <include file="Public/style" />
       <include file="Public/script" />
    </head>
    <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px"> 
<div class="core_main User" id="viewNotice">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：新闻动态》最新公告</span>
         
    </div>
    
    <div class="core_con">
        <table class="tablebg">
            <TR class="datafield">
                <th><nobr>标题</nobr></th>
                <th><nobr>发布时间</nobr></th>
                <th><nobr>操作</nobr></th>
            </TR>
              <volist name="list" id="vo">
                            <tr>
                          <td><a href="{:U('About/content', array('id' =>$vo['id']))}">{$vo.title}</a></td>
                          <td>{$vo.ctime}</td>
                          <td><a href="{:U('About/content', array('id' =>$vo['id']))}">查看</a></td>
                        </tr>
                        </volist>
                </table>	
    </div>
                  <div class="widget-foot" style="float:right">
                    <ul class="pagination">
                      <volist name="page_list" id="page_vo">
                        <switch name="page_vo.name">
                          <case value="prev">
                            <li><a href="{$page_vo.url}">Prev</a></li>
                          </case>
                          <case value="list">
                            <li><a href="{$page_vo.url}">{$page_vo.page}</a></li>
                          </case>
                          <case value="next">
                            <li><a href="{$page_vo.url}">Next</a></li>
                          </case>
                        </switch>
                      </volist>
                    </ul>
                  </div>
</div>
</div>
</body>
</html>