
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>
  <body>
    <include file="Public/header" />
    <div id="container">
      <div id="sidebar" class="sidebar-fixed">
        <include file="Public/menu" />
      </div>
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="{:U('QuityLock/index')}">
                  股权锁定
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                股权锁定
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="widget">
                <div class="widget-header">
                </div>
                <div class="search" style="border-bottom:1px solid #ececec;margin-bottom:10px;">
                  <form action="{:U('index')}" method="get" class="form-horizontal row-border">
                  <div class="form-group">
                      <label for="" class="col-md-1 control-label">用户名:</label>
                      <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" name="username" id="" class="form-control">
                        <span class="input-group-btn">
                          <input type="submit" value="搜索" class="btn btn-lg btn-primary" style="height: 32px;line-height: 13px;">
                        </span>
                        </div>

                      </div>
                  </div>
                </form>
                </div>

                <div class="widget-content">

<table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          用户名
                        </th>
                        <th>
                          股权数量
                        </th>
                        <th>当时股权单价</th>
                        <th>解锁时间</th>
                        <th>状态</th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="list" id="vo">
                        <tr>
                          <td>{$vo.id}</td>
                          <td>{$vo.username}</td>
                          <td>{$vo.quity_count}</td>
                          <td>{$vo.then_gold}</td>
                          <td>
                            {$vo.unlock_time}
                          </td>
                          <td>
                            <switch name="vo.status">
                              <case value="1">已解锁</case>
                              <case value="0">锁定</case>
                            </switch>
                          </td>
                        </tr>
                      </volist>
                    </tbody>
                  </table>
                  <div class="table-footer">
                      <div class="col-md-12">
                        <ul class="pagination">
                        <volist name="page_list" id="page_vo">
                          <switch name="page_vo.name">
                            <case value="prev">
                              <eq name="page_vo.status" value="disabled">
                                 <li class="disabled">
                                  <a href="javascript:void(0);">
                                    ← Prev
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    ← Prev
                                  </a>
                                </li>
                              </eq>
                            </case>
                            <case value="list">
                              <eq name="page_vo.status" value="now">
                                 <li class="active">
                                  <a href="javascript:void(0);">
                                    {$page_vo.page}
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    {$page_vo.page}
                                  </a>
                                </li>
                              </eq>
                            </case>
                            <case value="next">
                              <eq name="page_vo.status" value="disabled">
                                 <li class="disabled">
                                  <a href="javascript:void(0);">
                                    Next →
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    Next →
                                  </a>
                                </li>
                              </eq>
                            </case>
                          </switch>
                        </volist>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
  </body>
</html>