
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{:C('TITLE')}</title>
        <meta name="description" content="">
        <!-- Basic Styles -->
       <include file="Public/styles" />
       <include file="Public/script" />
    </head>
    <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px"> 
<div class="core_main User" id="viewNotice">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：会员中心》银行卡资料</span>
         <a href="{:U('add')}" class="btn btn-success">添加银行卡</a>
    </div>
    
    <div class="core_con">
        <table class="tablebg">
            <TR class="datafield">
                <th><nobr>开户行</nobr></th>
                <th><nobr>开户人</nobr></th>
                <th><nobr>卡号</nobr></th>
                <th><nobr>开户地址</nobr></th>
                <th><nobr>操作</nobr></th>
               
            </TR>
             <volist name="list" id="vo">
                          <tr>
                            <td>{$vo.deposit_bank}</td>
                            <td>{$vo.deposit_name}</td>
                            <td>{$vo.deposit_code_number}</td>
                            <td>{$vo.deposit_address}</td>
                            <td><a href="#" _href="{:U('Bank/del', array('id' => $vo['id']))}" onclick="return DialogConfirm(this)">注销</a></td>
                          </tr>
                        </volist>
                </table>	
    </div>
        <div class="widget-foot" style="float:right">
                    <ul class="pagination">
                      <volist name="page_list" id="page_vo">
                        <switch name="page_vo.name">
                          <case value="prev">
                            <li><a href="{$page_vo.url}">上一页</a></li>
                          </case>
                          <case value="list">
                            <li><a href="{$page_vo.url}">{$page_vo.page}</a></li>
                          </case>
                          <case value="next">
                            <li><a href="{$page_vo.url}">下一页</a></li>
                          </case>
                        </switch>
                      </volist>
                    </ul>
                  </div>
</div>
</div>
</body>
</html>