
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{:C('TITLE')}</title>
        <meta name="description" content="">
        <!-- Basic Styles -->
       <include file="Public/style" />
       <include file="Public/script" />
    </head>
    <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px"> 
<div class="core_main User" id="viewNotice">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：定向单</span>
         
    </div>
    
    <div class="core_con">
        <table class="tablebg">
            <TR class="datafield">
                <th><nobr>编号</nobr></th>
                <th><nobr>发起目标</nobr></th>
                <th><nobr>股权数量</nobr></th>
                <th><nobr>当时股权单价</nobr></th>
                <th><nobr>购买目标</nobr></th>
                <th><nobr>交易类型</nobr></th>
                <th><nobr>成交类型</nobr></th>
                <th><nobr>过期时间</nobr></th>
                <th><nobr>创建时间</nobr></th>
                <th><nobr>状态</nobr></th>
                <th><nobr>操作</nobr></th>
            </TR>
              <volist name="list" id="vo">
                          <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.quity_count}</td>
                            <td>{$vo.then_balance}</td>
                            <td>{$vo.to_username}</td>
                            <td>
                              <switch name="vo.option">
                                <case value="3">定向买入</case>
                                <case value="4">定向卖出</case>
                              </switch>
                            </td>
                            <td>
                              <switch name="vo.type">
                                <case value="1">自由交易</case>
                                <case value="2">自动交易</case>
                              </switch>
                            </td>
                            <td>{$vo.overdue_time}</td>
                            <td>
                              {$vo.ctime}
                            </td>
                            <td>
                              <switch name="vo.status">
                                <case value="-1">已撤销</case>
                                <case value="0">交易中</case>
                                <case value="1">已完成</case>
                              </switch>
                            </td>
                            <td>
                              <switch name="vo.status">
                                <case value="0">
                                    <if condition="session(user_id) neq $vo['member_id']">
                                      <a href="#" _href="{:U('QuityDeal/buy', array('id' => $vo['id']))}" onclick="return DialogConfirm(this)">确认购买</a>
                                    </if>
                                    <a href="" _href="{:U('QuityDeal/undo', array('id' => $vo['id']))}" onclick="return DialogConfirm(this)">撤销</a>
                                </case>
                              </switch>
                            </td>
                          </tr>
                        </volist>
                </table>	
    </div>
        <div class="widget-foot" style="float:right">
                        <ul class="pagination">
                          <volist name="page_list" id="page_vo">
                            <switch name="page_vo.name">
                              <case value="prev">
                                <li><a href="{$page_vo.url}">上一页</a></li>
                              </case>
                              <case value="list">
                                <li><a href="{$page_vo.url}">{$page_vo.page}</a></li>
                              </case>
                              <case value="next">
                                <li><a href="{$page_vo.url}">下一页</a></li>
                              </case>
                            </switch>
                          </volist>
                        </ul>
                      </div>
</div>
</div>
</body>
</html>