
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>
  <body>
    <include file="Public/header" />
    <div id="container">
      <div id="sidebar" class="sidebar-fixed">
        <include file="Public/menu" />
      </div>
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="{:U('Member/index')}">
                  会员管理
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                会员列表
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="btn-toolbar btn-toolbar-demo">
                    <a href="{:U('Member/add')}" class="btn btn-lg btn-primary">新增</a>
                  </div>
                </div>
                <div class="widget-content">
<table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          用户名
                        </th>
                        <th>奖金币数</th>
                        <th>
                          股权数
                        </th>
                        <th>股权奖金</th>
                        <th>联系方式</th>
                        <th>证件号码</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="list" id="vo">
                        <tr>
                          <td>{$vo.id}</td>
                          <td>{$vo.username}</td>
                          <td>{$vo.gold}</td>
                          <td>{$vo.quity}</td>
                          <td>{$vo.quity_gold}</td>
                          <td>{$vo.phone}</td>
                          <td>{$vo.id_number}</td>
                          <td>
                          <switch name="vo.is_enable">
                            <case value="1">
                              正常
                            </case>
                            <case value="0">
                              禁用
                            </case>
                          </switch>
                          </td>
                          <td>
                            <switch name="vo.is_enable">
                            <case value="1">
                              <a href="#" _href="{:U('Member/is_enable', array('id'=>$vo['id'],'status'=>0))}" onclick="return DialogConfirm(this)">禁用</a>
                            </case>
                            <case value="0">
                              <a href="#" _href="{:U('Member/is_enable', array('id'=>$vo['id'],'status'=>1))}" onclick="return DialogConfirm(this)">启用</a>
                            </case>
                          </switch>
                          <a href="{:U('Member/edit', array('id' => $vo['id']))}">编辑</a>
                          <a href="{:U('Member/recharge', array('id' => $vo['id']))}">奖金币充值</a>
                          <a href="{:U('Member/quity_recharge', array('id' => $vo['id']))}">股权充值</a>
                          <a href="{:U('Bank/index', array('member_id' => $vo['id']))}">查看银行卡列表</a>
                          </td>
                        </tr>
                      </volist>
                    </tbody>
                  </table>
                  <div class="table-footer">
                      <div class="col-md-12">
                        <ul class="pagination">
                        <volist name="page_list" id="page_vo">
                          <switch name="page_vo.name">
                            <case value="prev">
                              <eq name="page_vo.status" value="disabled">
                                 <li class="disabled">
                                  <a href="javascript:void(0);">
                                    ← Prev
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    ← Prev
                                  </a>
                                </li>
                              </eq>
                            </case>
                            <case value="list">
                              <eq name="page_vo.status" value="now">
                                 <li class="active">
                                  <a href="javascript:void(0);">
                                    {$page_vo.page}
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    {$page_vo.page}
                                  </a>
                                </li>
                              </eq>
                            </case>
                            <case value="next">
                              <eq name="page_vo.status" value="disabled">
                                 <li class="disabled">
                                  <a href="javascript:void(0);">
                                    Next →
                                  </a>
                                </li>
                              <else />
                                <li>
                                  <a href="{$page_vo.url}">
                                    Next →
                                  </a>
                                </li>
                              </eq>
                            </case>
                          </switch>
                        </volist>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
  </body>
</html>