
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{:C('TITLE')}</title>
        <meta name="description" content="">
        <!-- Basic Styles -->
       <include file="Public/style" />
       <include file="Public/script" />
    </head>
    <body>
        <include file="Public/header" />
        <include file="Public/menu" />
        <!-- END SHORTCUT AREA -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <span>当前时间:&nbsp;&nbsp;&nbsp;<span id="clockss"></span></span>
                </ol>
            </div>
<div id="content" style="height:1500px">
<div class="core_main User" id="viewNotice">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：财务管理>>奖金币提现</span>
         <a href="{:U('GoldWithdraw/add')}" class="btn btn-success">申请提现</a>
    </div>

    <div class="core_con">
        <table class="tablebg">
            <TR class="datafield">
                <TH ><nobr>编号</nobr></TH>
                <TH ><nobr>提现金额</nobr></TH>
                <TH ><nobr>提现银行</nobr></TH>
                <TH ><nobr>转账图片</nobr></TH>
                <TH ><nobr>状态</nobr></TH>
            </TR>
               <volist name="list" id="vo">
                          <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.gold}</td>
                            <td>{$vo.deposit_bank}</td>
                            <td>
                              <notempty name="vo.pic">
                              <a _href="{$vo.pic}" onclick="return openPic(this)"/>查看</a>
                              </notempty >
                            </td>
                            <td>
                              <switch name="vo.status">
                                <case value="1">已完成</case>
                                <case value="0">待审核</case>
                                <case value="-1">申请驳回</case>
                              </switch>
                            </td>
                          </tr>
                        </volist>
                </table>
    </div>
    <div class="core_page">
     <div class="widget-foot">
                    <ul class="pagination">
                      <volist name="page_list" id="page_vo">
                        <switch name="page_vo.name">
                          <case value="prev">
                            <li><a href="{$page_vo.url}">上一页</a></li>
                          </case>
                          <case value="list">
                            <li><a href="{$page_vo.url}">{$page_vo.page}</a></li>
                          </case>
                          <case value="next">
                            <li><a href="{$page_vo.url}">下一页</a></li>
                          </case>
                        </switch>
                      </volist>
                    </ul>
                  </div></div>
</div>
</div>
</body>
</html>